
.single-about {
    border: 1px solid #ddd;
    padding: 40px 20px;
    width: 380px;
    float: left;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
      }
      h4 {
        text-transform: capitalize;
        font-size: 26px;
        font-weight: 600;
      }
      p {
        margin: 20px 0;
      }
      a {
        color: #333;
      }


  }
