

.banner-contant {
    color: #fff;
    h2 {
        font-size: 42px;
        text-transform: capitalize;
      }
      p {
        max-width: 500px;
        margin: 30px auto;
      }
      a{
          margin: 0 10px;
      }
  }
  